/* Utilities */
.survey-answer-show button{
     opacity: 0;
}
.survey-answer-show:hover button{
     opacity: 1;
     transition: .3s;
}
.renameTable{
     display: none;
     position: absolute;
     top: 33px;
     z-index: 99;
     background-color: #FFF;
     padding: 1rem;
}
.dip-edit-table-name{
     color: #FFF;
     font-size: 16px;
     cursor: pointer;
     border-radius: 100%;
}
.dip-edit-table-name::after{
     display: none;
}
.dip-edit-table-name:hover::after{
     content: 'rename';
     display: inline-block;
}
.dip-edit-table-name:hover{
     border-radius: 10px;
}
#showMail td a{
     opacity: 0;
}
#showMail td:hover a{
     opacity: 1;
     transition: .3s;
}
.add-mail{
     display: none;
}
.dip-table-smtp{
     height: 150px;
     overflow: auto;
}
.dip-version{
    text-align: right;
    font-style: italic;
    transform: translate(-14%, -200%);
}
body{
    font-family: Poppins, sans-serif;
}
.dip-empty-polling{
    width: 100%;
    text-align: center;
}
.dip-empty-polling img{
    width: 200px;
    display: block;
    margin: auto;
}
.dip-current-img{
    width: 350px;
    position: relative;
}
.dip-current-img img{
    width: 100%;
    display: block;
}
.dip-current-site-icon{
    width: 150px;
    position: relative;
}
.dip-current-site-icon img{
    width: 100%;
    display: block;
}
.dip-current-site-icon label{
    position: absolute;
    bottom: 0;
    left: 0;
}
.dip-current-img label{
    position: absolute;
    bottom: 0;
    left: 0;
}
.dip-float-admin-box{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.dip-float-total-polling{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top-left-radius: 5px;
    width: 50px;
}
.table tr{
    white-space: nowrap !important;
}
.dip-see i{
    opacity: 0;
}
.dip-see:hover i{
    transition: .3s;
    opacity: 1;
}
tr{
    position: relative;
}
.dip-delete-item{
    opacity: 0;
}
tr:hover .dip-delete-item{
    transition: .3s;
    opacity: 1;
}
.dip-brand{
    font-family: MatSaleh;
}
.dip-btn-question{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.dip-notification{
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    color: #fff;
    margin: 1rem;
    display: none;
    z-index: 999999;
}
.dip-notif-red{
    background-color: rgba(255,0,0,.7);
}
.dip-notif-green{
    background-color: rgba(19,170,0,.7);
}
.dip-notif-show{
    transition: .3s;
    display: block;
}
/* Menu */
header{
    position: fixed;
    width: 210px;
    padding: 1rem 0;
    height: 100%;
    border-right: 1px solid #ddd;
}
header .dip-brand{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
}
header li a:hover{
    transition: .3s;
    padding-left: 1.5rem;
}
/* Night mode */
.dip-logout{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1rem;
}
.dip-logout button{
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: .3rem;
}
.dip-logout button span{
    padding: .3rem;
    position: relative;
}
.dip-logout button span::after{
    content: '';
    font-size: 1rem;
    line-height: 1;
}
.dip-logout button span:hover::after{
    transition: .3s;
    content: ' Log out';
}
/* Admin Content */
.dib-admin-page-title{
    margin-bottom: 3rem;
}
main{
    position: relative;
    display: block;
    margin-left: 210px;
    padding: 2rem 3.8rem;
}
main .row{
    --bs-gutter-x: 0 !important;
}
/* Dashboard */
.dip-admin-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    height: 160px;
    border-radius: 7px;
    padding: 1.2rem;
    position: relative;
    overflow: hidden;
}
.dip-admin-box p{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: .5rem;
    border-bottom-right-radius: 7px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.dip-admin-box span{
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
}
.dip-total-table p{
    font-size: 1.3rem;
}
.dip-active-polling span{
    font-size: 2rem;
    font-weight: bold;
}
.dip-active-polling p{
    font-size: 1.3rem;
}
#menuAdminBtn{
    display: none !important;
}
/* Loading */
#dip-loader{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,.5);
     z-index: 99999999999999;
     justify-content: center;
     align-items: center;
}
#dip-loader .box-dip-loader{
     background-color: #FFF;
     border-radius: 8px;
     padding: 3rem;
}
/* Tablet/Ipad Device */
@media screen and (max-width: 960px){
    .dip-version{
        text-align: right;
        font-style: italic;
        transform: translate(-25%, -200%);
    }
    /* menu showing */
    .dip-menu-show{
        transition: .3s;
        transform: translateX(0%);
    }
    #logoAdminBtn{
        position: relative;
        z-index: -1;
    }
    #menuAdminBtn{
        display: block !important;
        border: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 1.2rem .1rem;
        background-color: #333;
        color: #FFF;
        font-size: 2rem;
    }
    #menuAdminBtn{
        position: fixed;
        z-index: 9999;
        bottom: 30px;
        right: 0;
        transform: translateX(101%);
    }
    main{
        position: relative;
        display: block;
        margin-left: 0;
        padding: 2rem 2.7rem;
    }
    header{
        position: fixed;
        width: 36%;
        padding: 1rem 0;
        height: 100%;
        border-right: 1px solid #ddd;
        z-index: 9999;
        transform: translateX(-100%);
    }
    .bg-shadow::before{
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        z-index: 999;
    }
}
/* Mobile Device */
@media screen and (max-width: 600px){
    .dip-version{
        text-align: right;
        font-style: italic;
        transform: translate(-25%, -200%);
    }
    header{
        position: fixed;
        width: 70%;
        padding: 1rem 0;
        height: 100%;
        border-right: 1px solid #ddd;
        z-index: 9999;
        transform: translateX(-100%);
    }
    #menuAdminBtn{
        display: block !important;
        border: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 1.2rem .2rem;
        background-color: #333;
        color: #FFF;
        font-size: 2rem;
    }
}
/* Fonts */
@font-face{
    font-family: MatSaleh;
    src: url(../fonts/MatSaleh.woff);
}
@font-face{
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.woff);
}
@font-face{
    font-family: PoppinsSemiBold;
    src: url(../fonts/Poppins-SemiBold.woff);
}
